.wrap {
  width: 100vw;
  height: 100vh;
  background: url('../image/bg.jpeg') no-repeat center/cover;
  > .container {
    width: 78.7vw;
    height: 111.9vw;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0vw 0.5vw 1.8vw 0.6vw rgba(0, 0, 0, 0.3);
    border-radius: 1.3vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

$color: #0075c1;
